<h1><%= @task.title %></h1>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<blockquote><%= @task.details %></blockquote>

<p><%= @task.completed %></p>

<%= link_to "Edit this task", edit_task_path %>


<%= link_to "Back to list", tasks_path %>
